<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>[[#{aplicacion.titulo}]]</title>
    </head>
    <body>
        <section th:fragment="listado">
            <br/>
            <div class="container">
                <div class="dropdown d-flex bd-highlight mb-3">
                    <div class="col-md-2" th:if="${rol == 2}">   
                        <button class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#agregarArticulo">
                            <i class="fa-solid fa-circle-plus"></i>[[#{articulo.agregarA}]]
                        </button>
                    </div>
                    <button class="btn btn-secondary dropdown-toggle me-auto p-2 bd-highlightt" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        [[#{articulo.categoría}]]
                    </button>
                    <div class="p-2 bd-highlight" th:if="${rol == 1}">
                        [[#{articulo.artículos}]]
                    </div>
                    <div class="p-2 bd-highlight" th:if="${rol == 1}">
                        <a th:href="@{/articulo/abrircarrito}" class="btn btn-success">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                    </div>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" th:href="@{/articulo/listar}">[[#{articulo.todas}]]</a></li>
                        <li><a class="dropdown-item" th:href="@{/articulo/listarcategoria/Cepillo Dental}">[[#{articulo.cepilldodental}]]</a></li>
                        <li><a class="dropdown-item" th:href="@{/articulo/listarcategoria/Pasta Dental}">[[#{articulo.pastadental}]]</a></li>
                        <li><a class="dropdown-item" th:href="@{/articulo/listarcategoria/Hilo Dental}">[[#{articulo.hilodental}]]</a></li>
                        <li><a class="dropdown-item" th:href="@{/articulo/listarcategoria/Ligas}">[[#{articulo.ligas}]]</a></li>
                    </ul>
                </div>
                <br/>
                <h4>[[#{articulo.listaArts}]]</h4>
                <br/>
                <div th:if="${articulos != null and !articulos.empty}">
                    <table class="table table-striped table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th>[[#{articulo.categoria}]]</th>
                                <th>[[#{articulo.marca}]]</th>
                                <th>[[#{articulo.nombre}]]</th>
                                <th>[[#{articulo.precio}]]</th>
                                <th>[[#{articulo.estado}]]</th>
                                <th>[[#{articulo.opcion}]]</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="articulo: ${articulos}">
                                <td th:text="${articulo.categoria}"/>
                                <td th:text="${articulo.marca}"/>
                                <td th:text="${articulo.nombre}"/>
                                <td th:text="${articulo.precio}"/>
                                <td th:text="${articulo.estado} ? 'Disponible' : 'Agotado'">
                                </td>
                                <td>
                                    <a th:if="${rol == 1 and articulo.estado == true}" th:href="@{/articulo/agregarcarrito/}+${articulo.idArticulo}"
                                        class="btn btn-info">
                                        <i class="fa-solid fa-address-book"></i>
                                    </a>
                                    <a th:if="${rol == 2}" th:href="@{/articulo/eliminar/}+${articulo.idArticulo}" 
                                       class="btn btn-danger">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center p-2" th:if="${articulos == null or articulos.empty}">
                    <span>[[#{articulo.noArticulos}]]</span>
                </div>
            </div>
            <br/>
            <br/>
        </section>
        
        <section th:fragment="carritocompras">
            <br/>
            <div class="container">
                <div class="dropdown d-flex bd-highlight mb-3">
                    <button class="btn btn-secondary dropdown-toggle me-auto p-2 bd-highlightt" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        [[#{articulo.categoría}]]
                    </button>
                    <div class="p-2 bd-highlight">
                        [[#{articulo.artículos}]]
                    </div>
                    <div class="p-2 bd-highlight">
                        <a class="btn btn-success">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                    </div>
                </div>
                <br/>
                <h4>[[#{articulo.carrito}]]</h4>
                <br/>
                <div th:if="${articulosCarrito != null and !articulosCarrito.empty}">
                    <table class="table table-striped table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th>[[#{articulo.categoria}]]</th>
                                <th>[[#{articulo.marca}]]</th>
                                <th>[[#{articulo.nombre}]]</th>
                                <th>[[#{articulo.precio}]]</th>
                                <th>[[#{articulo.opcion}]]</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="articulo: ${articulosCarrito}">
                                <td th:text="${articulo.categoria}"/>
                                <td th:text="${articulo.marca}"/>
                                <td th:text="${articulo.nombre}"/>
                                <td th:text="${articulo.precio}"/>
                                </td>
                                <td>
                                    <a class="btn btn-" th:href="@{/articulo/eliminarArticuloCarrito/}+${articulo.consecutivo}">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="container">
                        <div class="d-flex justify-content-center align-items-center">
                            <a class="btn btn-success" th:href="@{/articulo/pagarCarrito}" type="button" aria-expanded="false">
                                [[#{articulo.pagar}]]
                            </a>
                            <div class="mx-3"></div> 
                            <a class="btn btn-success" th:href="@{/articulo/listar}">[[#{articulo.volver}]]</a>
                        </div>
                    </div>
                </div>
                <div class="text-center p-2" th:if="${articulosCarrito == null or articulosCarrito.empty}">
                    <span>[[#{articulo.noArticulos}]]</span>
                    <div class="d-flex justify-content-center align-items-center" style="margin-top: 1em;">
                        <a class="btn btn-success" th:href="@{/articulo/listar}">[[#{articulo.volver}]]</a>
                    </div>
                </div>
            </div>
            <br/>
            <br/>
        </section>
        <section th:fragment="agregarArticulo" class="py-4 mb-4">
            <div id="agregarArticulo" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-md formularios">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">[[#{resenas.agregar}]]</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <br/>
                        <form class="row g-3" th:action="@{/articulo/agregar}" th:object="${articulo}"  method="POST">
                            <br/>
                            <div class="mb-3">
                                <label for="imagen">[[#{articulo.imagen}]]</label>
                                <input class="form-control" type="file" name="imagenFile" onchange="readURL(this);"/>
                                <img id="blah" src="#" alt="your image" height="200"/>
                            </div>
                            <div class="col-12">
                                <label for="marca" class="form-label">[[#{articulo.marca}]]</label>
                                <input type="text" class="form-control" id="marca" th:field="*{marca}" required>
                            </div>
                            <div class="col-12">
                                <label for="nombre" class="form-label">[[#{articulo.nombre}]]</label>
                                <input type="text" class="form-control" min="1" max="5" id="nombre" th:field="*{nombre}" required>
                            </div>
                            <div class="col-12">
                                <label for="categoria" class="form-label">[[#{articulo.categoria}]]</label>
                                <select class="form-select" id="inputAddress2" th:field="*{categoria}" required>
                                    <option value="Cepillo Dental">[[#{categoria.cepillo}]]</option>
                                    <option value="Pasta Dental">[[#{categoria.pasta}]]</option>
                                    <option value="Hilo Dental">[[#{categoria.hilo}]]</option>
                                    <option value="Ligas">[[#{categoria.ligas}]]</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <label for="precio" class="form-label">[[#{articulo.precio}]]</label>
                                <input type="number" class="form-control" id="precio" th:field="*{precio}" required>
                            </div>
                            <div class="col-12">
                                <label for="estado" class="form-label">[[#{articulo.estado}]]</label>
                                <input type="checkbox" class="form-check-input" id="estado" th:field="*{estado}">
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">[[#{aplicacion.accion}]]</button>
                            </div>
                            <br/>
                        </form>
                        <br/>
                    </div>
                </div>  
            </div>
        </section>
    </body>
</html>
