<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>[[#{aplicacion.titulo}]]</title>
    </head>
    <body>
        <section th:fragment="mostrarUsuarios">
            <div class="container registro-container">
                <div class="titulo">[[#{aplicacion.titulo}]]</div>
                <br>
                    <div class="info-container-perfil">
                        <div class="mb-3">
                            <label class="form-label">[[#{perfUsuario.fotoPerfil}]]</label>
                            <img th:src="${urlImagen}" alt="Foto de Perfil" id="imagenPerfil">
                        </div>
                        <div class="info">
                            <div class="mb-3">
                                <label for="nombre" class="form-label">[[#{perfUsuario.nombre}]]</label>
                                <h5 th:text="${usuario.nombre}"></h5>
                            </div>
                            <div class="mb-3">
                                <label for "apellido" class="form-label">[[#{perfUsuario.apellido}]]</label>
                                <h5 th:text="${usuario.apellido}"></h5>
                            </div>
                            <div class="mb-3">
                                <label for="telefono" class="form-label">[[#{perfUsuario.telefono}]]</label>
                                <h5 th:text="${usuario.telefono}"></h5>
                            </div>
                            <div class="mb-3">
                                <label for="correo" class="form-label">[[#{perfUsuario.correoElec}]]</label>
                                <h5 th:text="${usuario.correo}"></h5>
                            </div>
                            <div class="mb-3">
                                <label for="direccion" class="form-label">[[#{perfUsuario.direccion}]]</label>
                                <h5 th:text="${usuario.direccion}"></h5>
                            </div>
                        </div>
                    </div>
                    <div class="button-container">
                        <div class="mb-3">
                            <a class="btn btn-primary" th:href="@{/usuario/perfil}" id="editarPerfilBtn">[[#{perfUsuario.editar}]]</a>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary" onclick="verHistorial()">[[#{perfUsuario.historial}]]</button>
                        </div>
                        <div class="mb-3">
                            <a th:href="@{/agenda/listar}" class="btn btn-primary">[[#{perfUsuario.agenda}]]</a>
                        </div>
                    </div>
            </div>
        </section>
        
        <section th:fragment="editarUsuario">
            <div id="editarUsuario" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-md formularios">
                    <div class="modal-content">
                        <div class="modal-header text-white">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="row g-3" th:action="@{/usuario/editar}" th:object="${usuarioNuevo}"  method="POST">
                                <div class="mb-3">
                                    <label for="nombre" class="form-label">Nombre:</label>
                                    <input type="text" class="form-control" th:field="*{usuarioNuevo.nombre}">
                                </div>
                                <div class="mb-3">
                                    <label for="apellido" class="form-label">Apellido:</label>
                                    <input type="text" class="form-control" th:field="*{usuarioNuevo.apellido}">
                                </div>
                                <div class="mb-3">
                                    <label for="telefono" class="form-label">Teléfono:</label>
                                    <input type="text" class="form-control" th:field="*{usuarioNuevo.telefono}">
                                </div>
                                <div class="mb-3">
                                    <label for="direccion" class="form-label">Dirección :</label>
                                    <input type="text" class="form-control" th:field="*{usuarioNuevo.direccion}">
                                </div>
                                <div class="mb-3">
                                    <label for="contrasena" class="form-label">Contraseña :</label>
                                    <input type="password" class="form-control" th:field="*{usuarioNuevo.contrasena}">
                                </div>
                                <button type="submit" class="btn btn-primary">Guardar cambios</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
