<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>[[#{aplicacion.titulo}]]</title>
    </head>
    <body>
        <section th:fragment="mostrarUsuarios">
            <div class="container registro-container">
                <div class="titulo">[[#{aplicacion.titulo}]]</div>
                <br>
                    <div class="info-container-perfil">
                        <div class="mb-3">
                            <label class="form-label">[[#{perfUsuario.fotoPerfil}]]</label>
                            </br>
                            <img th:src="${usuario.direccionFoto}" alt="Sin Foto de Perfil" id="imagenPerfil" height="80">
                        </div>
                        <div class="info">
                            <div class="mb-3">
                                <label for="nombre" class="form-label">[[#{perfUsuario.nombre}]]</label>
                                <h5 th:text="${usuario.nombre}"></h5>
                            </div>
                            <div class="mb-3">
                                <label for "apellido" class="form-label">[[#{perfUsuario.apellido}]]</label>
                                <h5 th:text="${usuario.apellido}"></h5>
                            </div>
                            <div class="mb-3">
                                <label for="telefono" class="form-label">[[#{perfUsuario.telefono}]]</label>
                                <h5 th:text="${usuario.telefono}"></h5>
                            </div>
                            <div class="mb-3">
                                <label for="correo" class="form-label">[[#{perfUsuario.correoElec}]]</label>
                                <h5 th:text="${usuario.correo}"></h5>
                            </div>
                            <div class="mb-3">
                                <label for="direccion" class="form-label">[[#{perfUsuario.direccion}]]</label>
                                <h5 th:text="${usuario.direccion}"></h5>
                            </div>
                        </div>
                    </div>
                    <div class="button-container">
                        <div class="mb-3">
                            <a class="btn btn-primary" th:href="@{/usuario/modificar}" id="editarPerfilBtn">[[#{perfUsuario.editar}]]</a>
                        </div>
                        <div class="mb-3">
                            <a class="btn btn-primary" th:href="@{/historial/listar}" id="historialBtn">[[#{perfUsuario.historial}]]</a>
                        </div>
                        <div class="mb-3">
                            <a th:href="@{/agenda/listar}" class="btn btn-primary" id="agendaBtn">[[#{perfUsuario.agenda}]]</a>
                        </div>
                    </div>
            </div>
        </section>
        
        <section th:fragment="editarUsuario">
            <div class="container my-4">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="text-center">
                        </div>
                        <div class="modal-body">
                            <form class="row g-3" th:action="@{/usuario/editar}" th:object="${usuario}" method="POST" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label for="imagen">[[#{articulo.imagen}]]</label>
                                    <input class="form-control" type="file" name="imagenFile" onchange="readURL(this);"/>
                                    <img id="blah" src="#" alt="your image" height="200"/>
                                </div>
                                <div class="mb-3">
                                    <label for="nombre" class="form-label">[[#{perfUsuario.nombre}]] :</label>
                                    <input type="text" class="form-control" th:field="*{nombre}" th:value="${usuario.nombre}" />
                                </div>
                                <div class="mb-3">
                                    <label for="apellido" class="form-label">[[#{perfUsuario.apellido}]] :</label>
                                    <input type="text" class="form-control" th:field="*{apellido}" th:value="${usuario.apellido}" />
                                </div>
                                <div class="mb-3">
                                    <label for="telefono" class="form-label">[[#{perfUsuario.telefono}]] :</label>
                                    <input type="text" class="form-control" th:field="*{telefono}" th:value="${usuario.telefono}" />
                                </div>
                                <div class="mb-3">
                                    <label for="direccion" class="form-label">[[#{perfUsuario.direccion}]] :</label>
                                    <input type="text" class="form-control" th:field="*{direccion}" th:value="${usuario.direccion}" />
                                </div>
                                <div class="mb-3">
                                    <label for="contrasena" class="form-label">[[#{login.contrasenna}]] :</label>
                                    <input type="password" class="form-control" th:field="*{contrasena}" th:value="${usuario.contrasena}" required="true"/>
                                </div>
                                <button type="submit" class="btn btn-primary">[[#{perfil.guardar}]]</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
