<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>[[#{aplicacion.titulo}]]</title>
        <meta charset="UTF-8"/>
            <link href="/css/style_registro.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"></header>
        <div class="container registro-container">
            <div class="titulo">[[#{registrarse.registro}]]</div>
            <form th:action="@{/usuario/registrar}" th:object="${usuario}" method="post">
                <div class="mb-3">
                    <label for="nombre" class="form-label">[[#{registrarse.nombre}]]</label>
                    <input type="text" class="form-control" id="nombre" th:field="*{nombre}" required>
                </div>
                <div class="mb-3">
                    <label for="apellido" class="form-label">[[#{registrarse.apellido}]]</label>
                    <input type="text" class="form-control" id="apellido" th:field="*{apellido}" required>
                </div>
                <div class="mb-3">
                    <label for="telefono" class="form-label">[[#{registrarse.telefono}]]</label>
                    <input type="text" class="form-control" id="telefono" th:field="*{telefono}" required>
                </div>
                <div class="mb-3">
                    <label for="direccion" class="form-label">[[#{registrarse.direccion}]]</label>
                    <input type="text" class="form-control" id="direccion" th:field="*{direccion}" required>
                </div>
                <div class="mb-3">
                    <label for="correo" class="form-label">[[#{registrarse.CorreoElecRegi}]]</label>
                    <input type="email" class="form-control" id="correo" th:field="*{correo}" aria-describedby="emailHelp" required>
                        <div id="emailHelp" class="form-text">[[#{registrarse.NuncaCompartiremos}]]</div>
                </div>
                <div class="mb-3">
                    <label for="contrasena" class="form-label">[[#{registrarse.contrasenna}]]</label>
                    <input type="password" class="form-control" id="contrasena" th:field="*{contrasena}" required>
                        <br/>
                        <button id="mostrarContrasena" type="button">[[#{registrarse.mostrarContraseña}]]</button>
                </div>
                <div class="mb-3">
                    <label for="rol" class="form-label">[[#{registrarse.rol}]]</label>
                    <input type="checkbox" class="form-check-input" id="rol" th:field="*{idRol}" required>
                </div>

                <button type="submit" class="btn btn-primary">[[#{registrarse.registrarse}]]</button>
            </form>
        </div>
        <br/>
        <footer th:replace="~{layout/plantilla :: footer}"></footer>

        <!-- Codigo de JavaScript que permite intercambiar el espacio de la contraseña para visualizarla -->

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const contrasenaInput = document.getElementById("contrasena");
                const mostrarContrasenaButton = document.getElementById("mostrarContrasena");

                mostrarContrasenaButton.addEventListener("click", function () {
                    if (contrasenaInput.type === "password") {
                        contrasenaInput.type = "text";
                        mostrarContrasenaButton.textContent = "Ocultar Contraseña";
                    } else {
                        contrasenaInput.type = "password";
                        mostrarContrasenaButton.textContent = "Mostrar Contraseña";
                    }
                });
            });

        </script>
    </body>
</html>
