<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Registro</title>
        <meta charset="UTF-8">
            <link href="/css/style_registro.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"></header>
        <div class="container registro-container">
            <div class="titulo">Registro</div>
            <form>
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" required>
                </div>
                <div class="mb-3">
                    <label for="apellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="apellido" required>
                </div>
                <div class="mb-3">
                    <label for="cedula" class="form-label">Cédula</label>
                    <input type="text" class="form-control" id="cedula" required>
                </div>
                <div class="mb-3">
                    <label for="telefono" class="form-label">Teléfono</label>
                    <input type="text" class="form-control" id="telefono" required>
                </div>
                <div class="mb-3">
                    <label for="direccion" class="form-label">Dirección</label>
                    <input type="text" class="form-control" id="direccion" required>
                </div>
                <div class="mb-3">
                    <label for="correo" class="form-label">Correo Electrónico</label>
                    <input type="email" class="form-control" id="correo" aria-describedby="emailHelp" required>
                        <div id="emailHelp" class="form-text">Nunca compartiremos su correo electrónico con nadie más.</div>
                </div>
                <div class="mb-3">
                    <label for="contrasena" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="contrasena" required>
                        <button id="mostrarContrasena" type="button">Mostrar Contraseña</button>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
        <footer th:replace="~{layout/plantilla :: footer}"></footer>

        <!-- Codigo de JavaScript que permite intercambiar el espacio de la contraseña para visualizarla -->

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const contrasenaInput = document.getElementById("contrasena");
                const mostrarContrasenaButton = document.getElementById("mostrarContrasena");

                mostrarContrasenaButton.addEventListener("click", function () {
                    if (contrasenaInput.type === "password") {
                        contrasenaInput.type = "text";
                        mostrarContrasenaButton.textContent = "Ocultar Contraseña";
                    } else {
                        contrasenaInput.type = "password";
                        mostrarContrasenaButton.textContent = "Mostrar Contraseña";
                    }
                });
            });

        </script>
    </body>
</html>
