<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>[[#{aplicacion.titulo}]]</title>
        <meta charset="UTF-8"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>    
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <link href="/css/style.css" rel="stylesheet" type="text/css"/>
        <link href="/css/style_registro.css" rel="stylesheet" type="text/css"/>
        <link href="/css/style_login.css" rel="stylesheet" type="text/css"/>
        <link href="/css/style_historial.css" rel="stylesheet" type="text/css"/>
        <link href="/css/style_sobreNosotros.css" rel="stylesheet" type="text/css"/>
        <link href="/css/style_mostrarPerfil.css" rel="stylesheet" type="text/css"/>
        <script th:src="@{/js/rutinas.js}"></script>
    </head>
    <body class="body">
        <header th:fragment="header">
            <nav class="color-header navbar navbar-expand-lg navbar-light">
                <div class="container-fluid color-header">
                    <div class="container">
                        <a class="navbar-brand text-white" th:href="@{/}">
                            <img src="/img/Logo.png" alt="" width="70" height="70" class="d-inline-block align-text-center"/>
                            [[#{aplicacion.titulo}]]
                        </a>
                        <a class="navbar-brand" id="nombre-dr" href="#">
                            [[#{aplicacion.nombreDoctor}]]
                        </a>
                    </div>
                    <button class="navbar-toggler espaciado-responsive" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 menu">
                            <li class="nav-item espaciado-index">
                                <a class="nav-link una-linea" th:href="@{/cita/listar}">[[#{citas.titulo}]]</a>
                            </li>
                            <li class="nav-item espaciado-index" th:if="${rol == 1}">
                                <a class="nav-link una-linea" th:href="@{/metodopago/listar}">[[#{metodopago.titulo}]]</a>
                            </li>
                            <li class="nav-item espaciado-index">
                                <a class="nav-link una-linea" th:href="@{/historialClinico/listar}" tabindex="-1" aria-disabled="true">[[#{hostorialclienico.titulo}]]</a>
                            </li>
                            <li class="nav-item espaciado-index">
                                <a class="nav-link una-linea" th:href="@{/articulo/listar}" tabindex="-1" aria-disabled="true">[[#{articulos.titulo}]]</a>
                            </li>
                            <li class="nav-item espaciado-index">
                                <a class="nav-link" href="#"><i class="fa-solid fa-user fa-xl"></i></a>
                                <ul class="submenu sin-vinetas">
                                    <li><a class="nav-link una-linea" th:href="@{/usuario/registro}">[[#{accion.registrarse}]]</a></li>
                                    <li><a class="nav-link una-linea" th:href="@{/usuario/login}">[[#{accion.iniciarsesion}]]</a></li>
                                    <li><a class="nav-link una-linea" th:if="${rol == 1}" th:href="@{/historial/listar}">[[#{accion.verhistorial}]]</a></li>
                                    <li><a class="nav-link una-linea" th:if="${rol == 1}" th:href="@{/agenda/listar}">[[#{accion.agenda}]]</a></li>
                                    <li><a class="nav-link una-linea" th:href="@{/usuario/perfil}">[[#{accion.perfil}]]</a></li>
                                </ul>
                            </li>
                            <li class="nav-item espaciado-index">
                                <a class="nav-link" href="#"><i class="fa-solid fa-language fa-xl"></i></a>
                                <ul class="submenu sin-vinetas">
                                    <li><a class="nav-link una-linea" th:href="@{/(lang=es)}">[[#{accion.es}]]</a></li>
                                    <li><a class="nav-link una-linea" th:href="@{/(lang=en)}">[[#{accion.en}]]</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <footer th:fragment="footer">
            <nav class="color-footer navbar navbar-expand-lg navbar-light">
                <div class="container-fluid color-footer">
                    <button class="navbar-toggler espaciado-responsive" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="espaciado-index">
                                <p class="alinear-item-footer una-linea">[[#{accion.masinfo}]]</p>
                            </li>
                            <li class="nav-item espaciado-index">
                                <a class="nav-link una-linea" th:href="@{/sobreNosotros/info}">[[#{accion.sobrenosotros}]]</a>
                            </li>
                            <li class="nav-item espaciado-index">
                                <a class="nav-link una-linea" th:href="@{/resena/listar}">[[#{accion.resennas}]]</a>
                            </li>
                        </ul>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <p class=" alinear-item-footer una-linea">[[#{info.direccion}]]</p>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="espaciado-index">
                                <p class=" alinear-item-footer una-linea">[[#{accion.masinfo}]]</p>
                            </li>
                            <li class="nav-item espaciado-index">
                                <p class=" alinear-item-footer una-linea">[[#{info.telefono}]]</p>
                            </li>
                        </ul>
                        <a class="navbar-brand text-white espaciado-index">
                            <img src="/img/Logo.png" alt="" width="70" height="70" class="d-inline-block"/>
                        </a>                      
                    </div>
                </div>
            </nav>        
        </footer>
    </body>
</html>
