registro-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.info-container-perfil {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}