<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>[[#{aplicacion.titulo}]]</title>
    </head>
    <body>
        <section th:fragment="listado">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>Reseñas</h4>
                            </div>
                            <div th:if="${resenas != null and !resenas.empty}">
                                <table class="table table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>Usuario</th>
                                            <th>Descripcion</th>
                                            <th>Puntos</th>
                                            <th>[[#{aplicacion.opcion}]]</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="resena: ${resenas}">
                                            <td th:text="${resena.idResena}"/>
                                            <td th:text="${resena.descripcion}"/>
                                            <td th:text="${resena.puntos}"/>
                                            <td>
                                                <a th:href="@{/resena/eliminar/}+${resena.idResena}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${resenas == null or resenas.empty}">
                                <span>[[#{metodo.noArticulos}]]</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <br/>
        <br/>
        </section>
        <section th:fragment="botonAgregar" class="py-4 mb-4">
            <div class="container">
                <div class="row d-flex">
                    <div class="col-md-2">   
                        <button class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#agregarMetodoPago">
                            <i class="fa-solid fa-circle-plus"></i> Dejar Reseña
                        </button>
                    </div>
                    <div class="col-md-2">   
                        <a class="btn btn-info" type="button" th:href="@{/resena/listarUser}">
                            <i class="fa-solid fa-circle-plus"></i> Mis reseñas
                        </a>
                    </div>
                    <div class="col-md-2">   
                        <a class="btn btn-info" type="button" th:href="@{/resena/listar}">
                            <i class="fa-solid fa-circle-plus"></i> Todas las reseñas
                        </a>
                    </div>
                </div>
            </div>
        </section>    
        <section th:fragment="agregarMetodoPago" class="mt-4">
            <div id="agregarMetodoPago" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-md formularios">
                    <div class="modal-content">
                        <div class="modal-header text-white">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <div class="container mt-4">
                            <form class="row g-3" th:action="@{/metodopago/agregar}" th:object="${metodoPago}" method="POST">
                                <div class="col-md-6">
                                    <label for="inputEmail4" class="form-label">[[#{metodo.año}]]</label>
                                    <input type="number" class="form-control" id="inputEmail4" min="2023" max="2040" th:field="*{annoVencimiento}" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="inputPassword4" class="form-label">[[#{metodo.cvc}]]</label>
                                    <input type="password" class="form-control" id="inputPassword4" th:field="*{cvc}" required>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">[[#{accion.añadir}]]</button>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">[[#{accion.añadir}]]</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>  
            </div>
        </section>
    </body>
</html>