<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TODO supply a title</title>
    </head>
    <body>
        <section th:fragment="listado">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>Métodos de Pago</h4>
                            </div>
                            <div th:if="${!metodos.empty}">
                                <table class="table table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>Nombre Método Pago</th>
                                            <th>Dueño</th>
                                            <th>Número Tarjeta</th>
                                            <th>Mes/Año Vencimiento</th>
                                            <th>CVC</th>
                                            <th>Predeterminado</th>
                                            <th>Opción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="metodo: ${metodos}">
                                            <td th:text="${metodo.nombre}"/>
                                            <td th:text="${metodo.duenno}"/>
                                            <td th:text="${metodo.numeroTarjeta}"/>
                                            <td th:text="${metodo.mesVencimiento}+' / '+${metodo.annoVencimiento}"/>
                                            <td th:text="${metodo.cvc}"/>
                                            <td>
                                                <a th:if="${metodo.predeterminado}">
                                                    <i class="fa-solid fa-check"></i>
                                                </a>
                                                <a th:if="${!metodo.predeterminado}">
                                                    <i class="fa-solid fa-x"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <a th:href="@{/metodopago/eliminar/}+${metodo.numeroTarjeta}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${metodos.empty}">
                                <span>No hay métodos de pago aún</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <br/>
        <br/>
        </section>
        <section th:fragment="botonAgregar" class="py-4 mb-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">   
                        <button class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#agregarMetodoPago">
                            <i class="fa-solid fa-circle-plus"></i> Añadir Método de Pago
                        </button>
                    </div>
                </div>
            </div>
        </section>
        
        <section th:fragment="agregarMetodoPago" class="py-4 mb-4">
            <div id="agregarMetodoPago" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-md formularios">
                    <div class="modal-content">
                        <div class="modal-header text-white">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <br/>
                        <form class="row g-3" th:action="@{/metodopago/agregar}" th:object="${metodoPago}"  method="POST">
                            <br/>
                            <div class="col-12">
                                <label for="inputAddress" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="inputAddress" th:field="*{nombre}" placeholder="1234 Main St" required>
                            </div>
                            <div class="col-12">
                                <label for="inputAddress2" class="form-label">Dueño</label>
                                <input type="text" class="form-control" id="inputAddress2" th:field="*{duenno}" placeholder="Apartment, studio, or floor" required>
                            </div>
                            <div class="col-12">
                                <label for="inputAddress2" class="form-label">Numero Tarjeta</label>
                                <input type="text" class="form-control" id="inputAddress2" th:field="*{numeroTarjeta}" placeholder="Apartment, studio, or floor" required>
                            </div>
                            <div class="col-md-6">
                                <label for="inputEmail4" class="form-label">N. Mes Vencimiento</label>
                                <input type="number" class="form-control" id="inputEmail4" min="1" max="12" th:field="*{mesVencimiento}" required>
                            </div>
                            <div class="col-md-6">
                                <label for="inputEmail4" class="form-label">Año vencimiento</label>
                                <input type="number" class="form-control" id="inputEmail4" min="2023" max="2040" th:field="*{annoVencimiento}" required>
                            </div>
                            <div class="col-md-6">
                                <label for="inputPassword4" class="form-label">CVC</label>
                                <input type="password" class="form-control" id="inputPassword4" th:field="*{cvc}" required>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Añadir</button>
                            </div>
                            <br/>
                        </form>
                        <br/>
                    </div>
                </div>  
            </div>
        </section>
        
        
    </body>
</html>
